* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted red; */
}

body {
  background-color: #1181cc;
}

.container {
  background-color: #35edff;
  width: 100%;
}

div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1 {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: clamp(1rem, 3.5vw, 2rem);
  font-family: fantasy;
  letter-spacing: 3px;
}

.background {
  padding-top: 3rem;
	position: static;
	width: 100%;
	z-index: 1;
}

#fact {
  color: #fff;
  position: fixed;
	display: flex;
	justify-content: center;
	margin-top: 7rem;
	width: 90%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
	font-size: clamp(1rem, 5vw, 2rem);
	z-index: 2;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(7, 7, 7, 0.5);
}

.animals {
	display: flex;
  justify-content: space-between;
  position: fixed;
	flex-direction: row;
	width: 90%;
  gap: 2rem;
	z-index: 2;
  margin-top: 15rem;
}

.animal {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 20%;
}

.animal:hover {
  filter: drop-shadow(2px 2px 20px #fff);
}
